<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Viandas Express</title>
	 
<meta charset="utf-8">


  <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/ps.css">

    <!-- google font -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Kreon:300,400,700'>
    
    <!-- js -->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="js/ps.js" type="text/javascript"></script>


</head>
<body class="parallax pricing" data-spy="scroll" data-target="#navbar" data-offset="120" style="background-image:url('img/parallax1.jpg')">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<div class="container">

		<h1>VIANDAS LOGO</h1>
		
        <nav>
            <a href="/">🏠INICIO</a>
            <a href="/#servicios">SERVICIOS</a>
            <a href="/#comiMenu">MENU</a>
            <a href="/#ofertas">OFERTAS</a>
            <a href="/#contacto">CONTACTO</a>
            <a href="precios">PRECIOS</a>
            <a > || </a>
            <a href="login">🛒</a>
            <a > || </a>
        </nav>
	
		

		
		

                
                <!--fix for scroll spy active menu element-->
                <li style="display:none;"><a href="#header"></a></li>

            </ul>
        </div><!--/.navbar-collapse -->
        </div><!-- container -->
    </div><!-- menu -->
    <br><br><br>
    <div class="container">
    <h2 class="h2">ESTAS LOGEADO PAPU</h2>
    <h1>Bienvenido usuario: {{usuario}}</h1>
<a href="/panel/logout">CERRAR SESION</a>
    

{{#if mensaje}}
{{mensaje}}
{{/if}}

<br><br><br><br>
<div class="container">
  <h2>#COMANDA</h2>
  <p>Prepará tu combo preferido!</p>
   <ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="pill" href="#home1">Menú 5 Platos</a></li>
    <li><a data-toggle="pill" href="#menu11">Menu 14</a></li>
    <li><a data-toggle="pill" href="#menu22">Menu 40</a></li>
    <li><a data-toggle="pill" href="#menu33">Armá tu pedido</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home1" class="tab-pane fade in active">
<div class="col-sm-8" id="ofertaDiv">
             <h2>Elegí 5 platos!</h2>
           <div class="col-sm-3">
          
            <form>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
            </form>
            </div>


            <div class="col-sm-3">
            <form>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
            </form>
            </div>
            <div class="col-sm-3"> 
            <form>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
                <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
            </form>
            </div>
            <div class="col-sm-3">
            <label>TOTAL</label>
            <hr>
            
            <p><label>0.00</label><button class="btn btn-primary" type="button">Comprar</button></p>
            </div>


            </div>
            </div>
            
    <div id="menu11" class="tab-pane fade">
      <div class="col-sm-8" id="ofertaDiv">
    <h2>Elegí 14 platos!</h2>
   <div class="col-sm-3">
   
    <form>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
    </form>
    </div>


    <div class="col-sm-3">
    <form>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
    </form>
    </div>
    <div class="col-sm-3">
    <form>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
    </form>
    </div>
    <div class="col-sm-3">
    <label>TOTAL</label>
    <hr>
    
    <p><label>0.00</label><button class="btn btn-primary" type="button">Comprar</button></p>
    </div>


    
</div> <!-- fin oferta2 --> <br>
      
    </div>
    <div id="menu22" class="tab-pane fade">
      <div class="col-sm-8" id="ofertaDiv">
    <h2>Elegí 40 platos!</h2>
   <div class="col-sm-3">
   
    <form>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
    </form>
    </div>


    <div class="col-sm-3">
    <form>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
    </form>
    </div>
    <div class="col-sm-3">
    <form>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
    </form>
    </div>
    <div class="col-sm-3">
    <label>TOTAL</label>
    <hr>
    
    <p><label>0.00</label><button class="btn btn-primary" type="button">Comprar</button></p>
    </div>


</div> <!-- fin oferta 3 --> <br>
    </div>
    <div id="menu33" class="tab-pane fade">
      <div class="col-sm-12" id="ofertaDiv">
    <h2>Armá tu pedido!</h2>
   <div class="col-sm-3">

    <form>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>  
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>   
    </form>
    </div>


    <div class="col-sm-3">
    <form>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>     
    </form>
    </div>
    <div class="col-sm-9">
    <form>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>    
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p>
        <p>prod1<input name="prod1" type="checkbox" value="1"/> </p> 
    </form>
    </div>
    <div class="col-sm-3">
    <label>TOTAL</label>
    <hr>
    
    <p><label>0.00</label><button class="btn btn-primary" type="button">Comprar</button></p>
    </div>



</div> <!-- fin oferta4 --> <br>
    </div>
  </div>
</div>
	
  <br><br>






    <footer class="footer" style="text-align: center;">
		<h5>copyright ©  2018</h5>
		<a href="http://psamudio.com/">Power by PS </a>

	
	</footer>


</body>


</html>
