<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Viandas Express</title>
	<!-- <link rel="stylesheet" type="text/css" href="CSS/bootstrap.css"> -->

	 <!-- css -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/ps.css">

    <!-- google font -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Kreon:300,400,700'>
    
    <!-- js -->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="js/ps.js" type="text/javascript"></script>

</head>
<body>
	<div class="container">

		<h1>VIANDAS LOGO</h1>
        <H1>{{mensaje}}</H1>

		 <nav>
            <a href="/">🏠INICIO</a>
            <a href="/#servicios">SERVICIOS</a>
            <a href="/#comiMenu">MENU</a>
            <a href="/#ofertas">OFERTAS</a>
            <a href="/#contacto">CONTACTO</a>
            <a href="precios">PRECIOS</a>
            <a > || </a>
            <a href="carro">🛒</a>
            <a > || </a>
        </nav>
	
	</div>
	<br> <br><br>
		
			
    <div id="header">
        <div class="bg-overlay"></div>
        <div class="center text-center">
            <div class="banner">
                <h1 class="">ViandasYA</h1>
            </div>
            <div class="subtitle"><h4>Alimentos nutritivos frescos y saludables</h4></div>
        </div>
        <div class="bottom text-center">
            <a id="scrollDownArrow" href="#"><i class="fa fa-chevron-down"></i></a>
        </div>
    </div> <!-- heder -->
		
	<br> <br><br> <br>

<div id="servicios" class="light-wrapper">

        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Nuestros Servicios</h2>
            <p class="lead main text-center">Dale salud a tu vida con estos: 3 simlpes pasos</p>
            <div class="row text-center story">
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa  fa-cutlery"></i> </div>
                        <h3>Elegí tu Menu</h3>
                        <p>Podes elegir entre diversas ofertas saludables. Consulta aqui!</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa  fa-credit-card"></i> </div>
                        <h3>Elegí medio de pago</h3>
                        <p>Elegí el medio de pago que más e conviene.</p>
                    </div>
                </div>
                 
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa fa-home"></i> </div>
                        <h3>Recibí tu producto</h3>
                        <p>Agendá una dirección de envio, y recibí tu producto: Puede ser tu domiclio laboral, por ejemplo.</p>
                    </div>
            	</div>
        	</div><!-- /.services --> 
		</div>  <!-- div containter -->

             <div id="facts" class="parallax parallax2 facts">
        <div class="container inner">
            <div class="row text-center services-3">
                <div class="col-sm-3">
                    <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-beer"></i> </div>
                    <h4>796518</h4>
                    <p>Mug of Beer Sold</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-play-circle-o"></i> </div>
                    <h4>39472</h4>
                    <p>Movies Watched</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-truck"></i> </div>
                    <h4>2188764</h4>
                    <p>Pizza Deleverd</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                      <p>Cutlery icon: <span class="glyphicon glyphicon-cutlery"></span></p>    
                    </div>
                    <h4>480523</h4>
                    <p>Customers Worldwide</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container --> 
    </div><!-- #facts -->
 <div id="comiMenu" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Menu</h2>
            <p class="lead main text-center">¡No hay amor más sincero que el amor por la comida!</p>

                        <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="img/menu/carnesR.png" alt="Hot Drinks"></div>
                    <div class="menu-titles"><h1 class="">Carnes Rojas</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Lomo</li>
                            <li>Costillas</li>
                            <li>Churrascos</li>
                            <li>Bifecito de cuadril</li>
                            <li>Colita de cuadril a la crema de puerros</li>
                            <li>Lomo a la mostaza</li>
                            <li>Klops de carne con cubos de calabaza</li>
                            <li>Albondigas</li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="img/menu/carnesB.png" alt="Ice Drinks"></div>
                    <div class="menu-titles"><h1 class="">Carnes Blancas</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Arroz Con Pollo</li>
                            <li>Cazuela Campesina c pollo</li>
                            <li>Latte</li>
                            <li>Suprema</li>
                            <li>Supremas Rellenas</li>
                            <li>Lomitos de pollo al verdeo</li>
                            <li>Hamburguesas de pollo</li>
                            <li>Pollo con verduras</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="img/menu/veg.png" alt="Smoothies"></div>
                    <div class="menu-titles"><h1 class="">Menús vegetarianos</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Berenjena a la Napolitana</li>
                            <li>Canelones de verdura</li>
                            <li>Carbonada</li>
                            <li>Cazuela de lentejas</li>
                            <li>Empanaditas caprese con puré verde</li>
                            <li>mas+</li>
                            <li>mas+</li>
                            <li>mas+</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="img/menu/ensaladas.png" alt="Deserts"></div>
                    <div class="menu-titles"><h1 class="">Ensaladas</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Cesar</li>
                            <li>Lechuga tomate</li>
                            <li>Gourmet</li>
                            <li>Rucula parmesano</li>
                            <li>Adicionales: pollo/atun/crutones/grisines</li>
                            <li>+</li>
                            <li>+</li>
                            <li>+</li>
                        </ul>
                    </div>
                 </div>
            </div>
            
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="img/menu/Pescados.png" alt="Hot Drinks"></div>
                    <div class="menu-titles"><h1 class="">Pescados</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Budin de Pescado</li>
                            <li>Chupín de pescado</li>
                            <li>Filet a la Florentina con Puré Mixto</li>
                            <li>Filet con queso crema</li>
                            <li>Buñuelos de pescado</li>
                            <li>Bloody Mary</li>
                            <li>A la romana con limon</li>
                            <li>mas</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="img/menu/pastas.png" alt="Ice Drinks"></div>
                    <div class="menu-titles"><h1 class="">Pastas</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Lasaña</li>
                            <li>Ñoquis de calabaza</li>
                            <li>Ravioles con salsa de Tomate</li>
                            <li>Risotto a la crema con champiñones</li>
                            <li>Ñoquis de papa</li>
                            <li>Capeletttis</li>
                            <li>Tallarines</li>
                            <li>Canelones</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="img/menu/postres.png" alt="Smoothies"></div>
                    <div class="menu-titles"><h1 class="">Postres</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Frutillas con crema(Ligth)</li>
                            <li>Duraznos en alnibal. </li>
                            <li>Frutas (2)</li>
                            <li>chesecake</li>
                            <li>Ensalada de fruta.</li>
                            <li>Más</li>
                                                    </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="img/menu/salsas.png" alt="Deserts"></div>
                    <div class="menu-titles"><h1 class="">Salsas</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Pesto</li>
                            <li>Portugueza</li>
                            <li>Mixta</li>
                            <li>Crema</li>
                            <li>Hongos</li>
                                                      
                        </ul>
                    </div>
                </div>
            </div>

            <br>
            <button class="btn btn-danger btn-lg" type="button" id="btnArmarM">Armá tu Menú</button>
        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!--/#-menu-->

    <div id="ofertas" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center">Ofertas Especiales</h2>
            <p class="lead main text-center">Aprovechá las ofertas, ordenando 5 , 7 o 20 biandas</p>
            
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    
                    <div class="pricing-item">
                        
                        <a href="#"><img class="img-responsive img-thumbnail" src="img/dish/dish3.jpg" alt=""></a>
                        
                        <div class="pricing-item-details">
                            
                            <h3><a href="#">Menú Ejecutivo</a></h3>
                            
                            <p>Con este menu te aseguras de 5 platos:  Lu,mar,mie,jue,vie <br> Elegí las opciones.
                        </p>
                            
                            <a class="btn btn-danger" href="#">Ver</a>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-red">$620</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    
                    <div class="pricing-item">
                        
                        <a href="#"><img class="img-responsive img-thumbnail" src="img/dish/dish2.jpg" alt=""></a>
                        
                        <div class="pricing-item-details">
                            
                            <h3><a href="#">Combo semanal</a></h3>
                            
                            <p>Te ofrecemos 14 platos deliciosos y saludables para tus almuerzos y cenas. 
                            Armálo a tu gusto</p>
                            
                            <a class="btn btn-danger" href="#">VER</a>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-lblue">$1680</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="clearfix visible-md"></div>
                <div class="col-md-6 col-sm-6">
                    
                    <div class="pricing-item">
                        
                        <a href="#"><img class="img-responsive img-thumbnail" src="img/dish/dish4.jpg" alt=""></a>
                        
                        <div class="pricing-item-details">
                            
                            <h3><a href="#">Combo Mensual</a></h3>
                            
                            <p>40 platos</p>
                            
                            <a class="btn btn-danger" href="#">VER</a>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-green">$4500</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    
                    <div class="pricing-item">
                        
                        <a href="#"><img class="img-responsive img-thumbnail" src="img/dish/dish1.jpg" alt=""></a>
                        
                        <div class="pricing-item-details">
                            
                            <h3><a href="#">Cocktail Sushi</a></h3>
                            
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            
                            <a class="btn btn-danger" href="#">Ver</a>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-red">$27</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container --> 
    </div><!-- /#promociones - OLD:special-offser -->


<br><br><br>
	<div class="container">
		
		<div class="row">
			<div class="col-xl-7 col-md-7 col-sm-7 col-xs-11">
				<h3>Quienes somos</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="col-xl-5 col-md-5 col-sm-5 col-xs-1">
				<img class="img" src="img/tienda.jpg">
			</div>
		</div>
			</div>
		
		<br>

	

	
		<div class="container">

		<h3>Ubicacion</h3> <br> 
		<div class="row">

			<div class="col-xl-6 col-md-6 col-sm-8 col-xs-11">
			<img src="img/map.png">				
			
			</div>

			<div class="col-xl-6 col-md-6 col-sm-4 col-xs-1">
				
				<p> calle falsa 123</p>
				<p>caba</p>
				<p>tel</p>
				<p>harios</p>
			</div>

		</div>

		</div>

		</div>
			<br>	<br>	<br>	<br>	<br>		
	
</div>
<div class="container" id="contacto">
<div class="jumbotron">

  <div class= "row">


			<div class="col-xl-4 col-md-4 col-sm-4 col-xs-4" id="spa">
				<h1 class="ache1">Contacto</h1>z<P>	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat	</P>			

			</div>
			<div class="col-xl-8 col-md-8 col-sm-8 col-xs-8">
			
				<form action="/consultar" method="post" name="formuClass">	
					<div class="form-group"> 
					<input placeholder="Nombr y apellido" 	type="text" class="form-control"  name="subject">
					 <br>
					<input placeholder="E-Mail"	type="email" required="true" class="form-control"  name="to">
					<br>
					<input placeholder="Cod Area + Tel"	type="number" class="form-control"  class="form-control"  name="telForm">
					<br>
					<textarea rows="10" cols="30" class="form-control" name="body">	</textarea>	
					
					<button type="submit" class="btn btn-primary btn-lg btn-block"  id="bvtnCrear" >Enviar</button>
					

				</form>

					</div>
			</div>



			</div>
		</div>
	</div> <!-- cierro container -->

	
<button id="btnDDanger"type="button" class="btn-danger" >test not</button>




<footer id="footer" class="dark-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <div class="row">
                <div class="col-sm-6">
                    &copy; Copyright PS 2018
                    <br/>Power BY <a class="themeBy" href="http://psamudio.com">PS</a>
                </div>
                <div class="col-sm-6">
                    <div class="social-bar">
                        <a href="#" class="fa fa-instagram tooltipped" title=""></a>
                        <a href="#" class="fa fa-youtube-square tooltipped" title=""></a>
                        <a href="#" class="fa fa-facebook-square tooltipped" title=""></a>
                        <a href="#" class="fa fa-pinterest-square tooltipped" title=""></a>
                        <a href="#" class="fa fa-google-plus-square tooltipped" title=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </footer>




		 <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/jquery.actual.min.js"></script>
    <script src="js/jquery.scrollTo.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/flash.js"></script>
<script src="ps.js"></script>

    <!-- icons: -->




<!-- </footer> -->


</body>


</html>