<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->


    <!-- //proyecto: -->
     <!-- css -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ps.css">

    <!-- google font -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Kreon:300,400,700'>
    
    <!-- js -->
    <script src="javascripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   


<!-- Footer protyecto -->

	 <script src="javascripts/jquery-2.1.3.min.js"></script>
    <script src="javascripts/jquery.actual.min.js"></script>
    <script src="javascripts/jquery.scrollTo.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/main.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="javascripts/flash.js"></script>
<script src="javascripts/ps.js"></script>
<script src="../javascripts/ps.js"></script>



{{!-- OTERS --}}





  </head>
  <body>
    {{{body}}}
  </body>
</html>
