
<body class="parallax pricing" data-spy="scroll" data-target="#navbar" data-offset="120" style="background-image:url('../img/menu2.jpg')">

<div class="container">
    
	<div>

		<h1>VIANDAS LOGO</h1>

		 <nav>
            <a href="/">🏠INICIO</a>
            <a href="/#servicios">SERVICIOS</a>
            <a href="/#comiMenu">MENU</a>
            <a href="/#ofertas">OFERTAS</a>
            <a href="/#contacto">CONTACTO</a>
            <a href="/precios">PRECIOS</a>
            <a > || </a>
            <a href="/carro">🛒</a>
            <a > || </a>
        </nav>
	
	</div>
	<br> <br><br>
		


<h1>Lista de precios</h1>  


    

<form method="post" action="/buscar/">
<input type="text" name="buscar" placeholder="todo">  
<button type="submit">buscar</button>
</form>
{{!-- 
    {{#if info}}
{{#each info}}
<p>{{nombre}}:{{precio}}</p>


{{/each}}
{{else}}
<h1>Nose encontro el proucto, intenta de nuevo </h1>
{{/if}} --}}

</div>

<div class="container">
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">PRODUCTO</th>
      <th scope="col">PRECIO</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
	    <td> {{#if info}} {{#each info}} 
	      	<p>{{nombre}}</p>
			{{/each}}
			{{else}}
			<h1>No se encontro el proucto, intenta de nuevo </h1>
			{{/if}}
		</td>
      <td> {{#if info}} {{#each info}} 
	      	<p>{{precio}}</p>
			{{/each}}
			{{else}}
			<h1>-</h1>
			{{/if}}
		</td>
  
  </tbody>
</table>
</div>

