#btnArmarM{
margin-left: 45%;
}


#ofertaDiv {
    background-color: #d92d2d9e;
    color: white;
    border-radius: 3px 13px 13px;
}

#formReg{
background-color: #afafab24;
}

#btnArmarM{
margin-left: 45%;
}


#ofertaDiv {
    background-color: #d92d2d9e;
    color: white;
    border-radius: 3px 13px 13px;
}

#formReg{
background-color: #afafab24;
}


/* ==========================================================================
    05. parallax 
========================================================================== */
.parallax {
    background:url(../img/parallax1.jpg) fixed no-repeat center center;
    -webkit-background-size:/*@@prefixmycss->No equivalent*/;
    -moz-background-size:cover;
    -o-background-size:/*@@prefixmycss->No equivalent*/;
    background-size:cover;
    position:relative;
    color:#FFF;
}
.parallax .inner {
    padding-top:130px;
    padding-bottom:130px;
}
.parallax.parallax2 {
    background-image:url(../img/parallax2.jpg);
}
.bm10 {
    margin-bottom:10px !important;
}
.facts h4 {
    font-size:40px;
    margin-bottom:20px;
}
.parallax h1,.parallax h2,.parallax h3,.parallax h4,.parallax h5,.parallax h6 {
    color:#fff;
}
.facts p {
    font-size:16px;
    text-transform:uppercase;
    margin:0;
}
.story .icon-wrapper i {
    font-size:70px;
}
.facts i {
    font-size: 70px;
}



.ubicacionID{
    
    background-image: "img/map.png";
        


    
}